.bash_history
.bashrc
.cmake/
.config/
.fltk/
.gazebo/
.gitconfig
.profile
.ros/
.sdformat/
.subversion/
.viminfo
bagfiles
moos-ivp
bin
lib
catkin_ws/build
catkin_ws/devel
moos-ivp-agx/build
moos-ivp-aquaticus
targ_*
MOOSLog*
.vim/

